@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Palatino';
    src: url('fonts/Palatino-Font/PalatinoFont.ttf');
}

*{
    margin: 0 auto;
    padding: 0;
}
img{
    width: 100%;
    max-width: 100%;
}
h2{
    position: relative;
}
h2::after{
    content: "";
    display: inline-block;
    width: 120px;
    height: 5px;
    background: #1D4B72;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.navigation{
    width: 100%;
    max-width: 1440px;
    background: #F2B84A;
    padding: 12px 0;
}
.container{
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 30%;
}
.logo img{
    height: 72px;
    width: auto;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a{
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D4B72;
}
.navigation ul li:last-child a{
    background: #FEFCFB;
    border-radius: 6px;
    color: #1D4B72;
    padding: 15px 35px;
}
/* End of navigation  */

.hero{
    background-image: url('images/image-13.png');
    max-width: 1440px;
    background-position: center;
    background-size: cover;
}

.hero-text{
    margin: 170px 0;
    max-width: 490px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
}
.hero-text h1{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    /* or 59px */
    color: #1D4B72;
}

.hero-text p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #858E96;
    margin: 20px;
    margin-left: 0;
}
.hero-text a{
    background: #F2B84A;
    border-radius: 6px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D4B72;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
}
/*End hero section*/

/* start competent partner section  */

.competent-partner{
    width: 100%;
    max-width: 1440px;
    padding: 150px 0;
}
.competent-partner .left, .competent-partner .right{
    width: 50%;
}
.competent-partner .left img{
    width: auto;
}
.competent-partner .right h2{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    color: #1D4B72;
    margin-bottom: 25px;
}
.competent-partner .right h2::after{
    display: none;
}
.competent-partner .right p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: justify;
    color: #000000;
}

/* Our services  */
.our-services{
    width: 100%;
    max-width: 1440px;
    background: #FAFAFA;
    padding: 60px 0 0;
}
.our-services h2{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    /* identical to box height */
    text-align: center;
    color: #1D4B72;
    margin-bottom: 60px;
}
.our-services .container{
    column-gap: 20px;
}

.our-services .service{
    /* position: relative; */
}
.our-services .service-info{
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    /* position: absolute;
    top: 100%;
    left: 10%; */
    transform: translateY(-50%);
}

.service-info h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #000000;
}
.service-info p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    color: #101010;
    margin: 20px 0;
}
.service-info  a{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #F2B84A;
    text-decoration: none;
}

/* Start Why  */

.why{
    padding: 100px 0;
    max-width: 1440px;
}
.why h2{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    /* identical to box height */
    text-align: center;
    color: #1D4B72;
    margin-bottom: 60px;
}

.why .container{
    column-gap: 20px;
}
.why-item{
    text-align: center;
}
.why-item i{
    display: inline-block;
    padding: 30px;
    background: #F2B84A;
    border-radius: 50%;
    font-size: 30px;
    color: #FFFFFF;
}

.why-item h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #101010;
    margin: 20px 0 10px;
}
.why-item p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

/* End why us  */



/* start get in touch  */
.get-touch{
    width: 100%;
    max-width: 1440px;
    background: #FAFAFA;
    padding: 120px 0;
}

.get-touch .container{
    align-items: flex-start;
}
.get-text{
    flex-basis: 30%;
}
.get-text h4{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1D4B72;
}
.get-text p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #101010;
    margin: 20px 0 50px;
}
.get-text a{
    background: #F2B84A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 17px 46px;
    color: #1B4B73;
    text-decoration: none;
}
.get-gallery{
    flex-basis: 70%;
    display: flex;
}
.get-gallery img{
    width: 33.33%;
}

.arrow{
    width: 90%;
    max-width: 1140px;
    text-align: right;
}
.arrow a{
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 14px;
    border-radius: 50%;
}

/* Start Contact Us  */
.contact-us{
    width: 100%;
    max-width: 1440px;
    padding: 120px 0;
}

.contact-us .container{
    align-items: center;
}
.contact-us .contact-text{
    width: 50%;
}

.contact-text h2{
    font-family: 'Palatino';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1D4B72;
    display: inline-block;
}
.contact-text h2::after{
    margin: 0;
}
.contact-text p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #101010;
    margin-top: 30px;
}

.contact-form{

}
.contact-form .form-group{
    width: 100%;
    margin-top: 30px;
}
.form-group input, .form-group select{
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 6px;

}
.form-group:first-child{
    display: flex;
    column-gap: 30px;
}

.form-group input[type=submit]{
    background: #F2B84A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B4B73;
}

/* Footer  */

footer{
    width: 100%;
    max-width: 1440px;
    background: #1D4B72;
    padding: 120px 0 50px;
    color: #FFFFFF;
}
footer .footer-item{
    width: 25%;
}
footer .footer-item:first-child{
    text-align: center;
}
footer .footer-item:first-child img{
    display: inline-block;
    padding: 10px;
}
.footer-item img{
    width: auto;
}
footer .footer-item h4{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

footer .footer-item p{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    color: #FFFFFF;
}
footer .footer-item ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer .footer-item ul li a{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    color: #FFFFFF;
    text-decoration: none;
}

footer .copyright-text{
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
footer .copyright-text p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
}

.header-mobile{
    display: none;
}

/* Responsive Using Media Query  */

@media screen and (max-width: 414px){
    .container{
        width: 100%;
        flex-direction: column;
    }
    .navigation ul{
        flex-direction: column;
        margin-top: 50px;
    }
    .navigation ul li:last-child a{
        background: transparent;
    }
    .hero{
        display: none;
    }
    .header-mobile{
        display: block;
    }
    .header-mobile .header-image img{
        width: 100%;
    }
    .hero-text{
        margin: 25px auto;
        width: 90%;
        box-sizing: border-box;
        text-align: center;
    }
    .hero-text h1{
        font-size: 28px;
    }
    .hero-text a{
        font-size: 12px;
    }

    .competent-partner{
        padding: 40px 0;
    }
    .competent-partner .left, .competent-partner .right{
        width: 90%;
    }
    .competent-partner .right h2{
        text-align: center;
        margin-top: 20px;
        font-size: 28px;
    }

    .our-services{
        padding: 40px 0 0;
    }
    .our-services h2{
        font-size: 28px;
    }
    h2::after{
        display: none;
    }
    .our-services .service{
        margin-top: -40px;
    }

    .why{
        padding: 40px 0;
    }
    .why h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .why .container{
        flex-direction: row;
        column-gap: 0;
        flex-wrap: wrap;
    }
    .why-item{
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }

    .get-touch{
        padding: 40px 0;
    }
    .get-text{
        width: 90%;
        text-align: center;
        margin-bottom: 30px;
    }
    .get-text h4{
        font-size: 28px;
    }
    .get-text p{
        font-size: 16px;
    }
    .arrow{
        text-align: center;
    }

    .contact-us{
        padding: 40px 0;
    }
    .contact-us .contact-text{
        width: 90%;
        text-align: center;
    }
    .contact-text h2{
        font-size: 28px;
    }
    .contact-text p{
        font-size: 16px;
    }
    .contact-form .form-group{
        width: 90%;
    }


    footer{
        padding: 40px 0;
    }
    footer .footer-item{
        width: 30%;
        text-align: center;
        margin-top: 30px;
    }
    footer .copyright-text{
        text-align: center;
        margin-top: 30px;
    }

}